kivy==2.3.1
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
Kivy-Garden==0.1.5
kivy-garden.matplotlib==0.1.1.dev0
bleak==0.22.3

# Manuell ausführen
# pip install kivy_garden.matplotlib
# pip install setuptools
